body {
    font-family: "Open Sans", sans-serif;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-right: 10px;
    padding-left: 10px;
}

label{
    font-size: 1.5vh;
}

input {
    box-sizing: border-box;

    font-size: 1.5vh;
}
button{
    font-size: 1.5vh;
}

input[type=text] {
    width:100%;
    padding: 12px 12px;

    margin: 8px 0;
}
input[type=password] {
  width:100%;
    padding: 12px 12px;

    margin: 4px 2px;
}
input[type=button] {

    font-weight: bold;

    margin: 4px 2px;
    cursor: pointer;
}
input[type=text]:focus {
    background-color: lightblue;
}
input[type=button]:hover {
    background-color: #686868;
}

#Main_heading{
     text-align: center;
}

#gauges{
    margin-top: 4vh;
}

#gauges div{
    width:100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}

#gauges span{
    font-size: 2vh;
}


#login-container{
    width:100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 4vh;
}

#actionButtons{
    width:100%;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 3vh;
}


.warning{
    color: red;
}

.updated{
    color: darkgreen;
}